#main, #topbanner {
    position: static;
}

#appgallerywrapper {
    display: flex;
}

#similar {
    margin-top: 15px;
    margin-right: 80px;
}

#gallery {
    position: relative;
    z-index: 1;
}

.wrapper {
    width: 60%;
    margin-top: 50px;
}

body {
    text-align: initial;
    margin-left: 80px;
}